.ticket {
	padding: 1% 3%;
	margin: 2vmax 7%;
	position: relative;
	text-align: left;
	background-color: rgb(246, 245, 215) !important;

	.hideTicketButton {
		position: absolute;
		top: 1.5vw;
		left: 88.5%;
	}

	h2 {
		margin-top: 0;
		padding-right: 10%;
	}

	p {
		text-align: left;
	}
	.info-section {
		padding: 0 2% 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			font-size: 0.85rem;
			color: grey;
		}

		div {
			display: flex;
			justify-content: flex-start;
			max-width: 45vw;
			overflow-x: auto;
		}

		.label {
			margin-right: 1vw;
			font-size: 0.85rem;
			text-transform: none;
		}
	}
}

.done {
	background-color: green !important;
	color: white !important;

	.info-section {
		p {
			color: white;
		}
	}
}
