.ticket {
	padding: 1% 3%;
	margin: 2vmax 7%;
	position: relative;
	text-align: left;

	.hideTicketButton {
		position: absolute;
		top: 1.5vw;
		left: 94%;
	}

	h2 {
		margin-top: 0;
		padding-right: 10%;
	}

	p {
		text-align: left;
	}
	.info-section {
		padding: 0 2% 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			font-size: 0.85rem;
			color: grey;
		}

		div {
			display: block;
			float: right;
			max-width: 45vw;
			overflow-x: auto;
		}

		.label {
			margin: 0.3vw;
			font-size: 0.85rem;
			display: inline-flex;
			span {
				text-transform: none;
			}
		}
	}
}

.done {
	background-color: green !important;
	color: white !important;

	.info-section {
		p {
			color: white;
		}
	}
}

@media only screen and (max-width: 950px) {
	.ticket {
		.hideTicketButton {
			left: 92.5%;
		}
	}
}

@media only screen and (max-width: 750px) {
	.ticket {
		.hideTicketButton {
			left: 90.5%;
		}
	}
}

@media only screen and (max-width: 650px) {
	.ticket {
		.hideTicketButton {
			left: 89%;
		}
	}
}

@media only screen and (max-width: 550px) {
	.ticket {
		.hideTicketButton {
			left: 87%;
		}
	}
}

@media only screen and (max-width: 400px) {
	.ticket {
		.hideTicketButton {
			left: 82.5%;
		}
	}
}

@media only screen and (max-width: 300px) {
	.ticket {
		.hideTicketButton {
			left: 76.5%;
		}
	}
}
